
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
 font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body {
  
  background-color: #f7f9ff;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: transparent; 
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.logo img {
  height: 82px;
  width: 135px;
}
.nav{
    display: flex;
    
}

.nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #8987A1;
  font-weight: 500;
}

.nav a.active {
  font-weight: bold;
  color: rgba(37, 36, 50, 1);
}

.nav a.cart {
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
   margin-left: 150px;
  margin-right: 150px;
  margin-top: 120px;

}

.hero-text {
  flex: 1;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 65px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.bold {
  font-weight: 900;
  color: #000;
}

.orange {
  color: #E95A08;
}

.hero-text p {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.6;
}

.hero-image img {
  max-width: 100%;
  width: 570px;
  height: 355px;
}
/* second section */
.products {
  padding: 60px 80px;
  background-color: #f7f9ff;
  text-align: center;
}

.products h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.products .orange {
  color: #f25c05;
}

.products .black {
  color: #000;
}

.products .subtitle {
  max-width: 600px;
  margin-top: 16px;
  max-width: 600px;
  margin: 0 auto 40px auto;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.product-grid {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.product-card {
  background: #fff;
  padding: 15px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  width: 270px;
  height: 323px;
  border-radius: 6px;
}

.product-card h3 {
  margin: 10px 0 5px;
  font-size: 22px;
}

.product-card .price {
    color: rgba(17, 17, 17, 1);
    font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-btn {
  background-color: #E95A08;
  color: white;
  border: none;
  padding: 19px 80px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background-color: #E95A08;
}
/* 4th part */
.deals-section {
  text-align: center;
  padding: 50px 20px;
}

.deals-section h1 {
  font-size: 3.1rem;
}

.deals-section h1 span {
  color: #E95A08;
}

.deals-section p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  max-width: 100%;
  margin-top: 16px;
  margin-left: 276px;
  margin-right: 276px;
  margin-bottom: 120px;
}

.deals-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  min-width: 280px;
  max-width: 400px;
}

.deal-box {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.deal-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(0.8);
}

.deal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.deal-content h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.deal-content a {
  
  color: #FFFFFF;
  padding: 5px 15px;
  /* text-decoration: none; */
  font-weight: bold;
  border-radius: 5px;
  font-size: 0.9rem;
}

.right-column {
  flex: 2;
  min-width: 280px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.right-column img, .left-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.right-column .deal-content h2 {
  font-size: 2.5rem;
}

.right-column .deal-content a {
  font-size: 1.25rem;
}



/* last er ager part */
.subscribe-section {
  background: url('../assets/news-letter-bg.png') no-repeat center center/cover;
  height: 533px;
  width: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.suscribtion-title {
  
  padding: 40px;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.suscribtion-title h2 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 23px;
  margin-top: 199px;
 
}

.subscribe-form {
  display: flex;
  justify-content: center;
  max-width: 830px;
  margin: 0 auto;
  height: 50px;
   margin-bottom: 193px;
  
  
}

.subscribe-form input[type="email"] {
  padding: 14px;
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.subscribe-form button {
  background-color: #E95A08;
  color: white;
  border: none;
  padding: 14px 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.subscribe-form button:hover {
  background-color: #d64c03;
}

@media screen and (max-width: 567px) {
  
}
